.about__container {
  padding: 50px 0;
}

.about__title-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.about__title {
  font-family: $font-family-poppins;
  font-weight: 500;
  font-size: 42px;
  line-height: 63px;
  text-transform: uppercase;
  color: $second-text-color;
}

.about__link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $font-family-roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: $black-color;

  cursor: pointer;
}

.about__icon {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.about__block {
  display: flex;
}

.about__group {
  margin-left: 25px;
  color: $white-color;
}

.about__main {
  padding: 37px 32px 22px 34px;
  margin-bottom: 31px;
  width: 660px;
  height: 333px;
  background-color: $main-bg-color;
  border-radius: 14px;
}

.about__main-title {
  margin-bottom: 21px;
  font-family: $font-family-poppins;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 54px;
}

.about__main-text {
  font-family: $font-family-roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.about__group-modif {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__year,
.about__graduates {
  padding: 34px 75px 33px 76px;
  background-color: $main-bg-color;
  border-radius: 14px;
  width: 317px;
  height: 211px;
  text-align: center;
}

.about__year-number,
.about__graduates-number {
  font-family: $font-family-poppins;
  font-size: 42px;
  font-weight: 500;
}

.about__year-text,
.about__graduates-text {
  font-family: $font-family-roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
