.advantages__section {
  padding-top: 70px;
  padding-bottom: 73px;
  background-color: #e0e7ef;
}

.advantages__title {
  padding: 30px 0 30px 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  background-color: $btn-bg-color;
  color: $second-text-color;
  font-family: $font-family-poppins;
  font-size: 42px;
  font-weight: 500;
  border-radius: 16px;
  line-height: 63px;
}

.advantages__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages__item {
  padding: 30px;
  width: 431px;
  height: 274px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $btn-bg-color;
  border-radius: 14px;
}

.advantages__item:not(:last-child) {
  margin-right: 23.5px;
}

.advantages__icon {
  width: 64px;
  height: 64px;
}

.advantages__text {
  margin-bottom: 12px;
  font-family: $font-family-poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: $second-text-color;
}

.advantages__parag {
  font-family: $font-family-roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: $black-color;
}
