html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font-family-roboto;
  background-color: #fbfbfb;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1344px;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.logo {
  height: 48.09px;
  width: 48.23px;
}
