.courses__container {
  padding: 50px 0 122px 0;
}

.courses__title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses__card {
  padding: 40px;
  border: 2px solid $main-bg-color;
  border-radius: 14px;
}

.courses__card:not(:last-child) {
  margin-bottom: 20px;
}

.courses__title,
.courses__title-h3 {
  font-family: $font-family-poppins;
  font-size: 42px;
  font-weight: 500;
  line-height: 63px;
  color: $second-text-color;
  text-transform: uppercase;
}

.courses__title {
  margin-bottom: 20px;
}

.courses__title-h3 {
  margin-left: 14px;
  font-size: 24px;
  line-height: 36px;
}

.courses__list-icon {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

.courses__list-item {
  display: flex;
  padding: 16px 16.4px;

  border-radius: 45px;
  background-color: $icon-bg-color;

  font-family: $font-family-roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $icon-text-color;
}

.courses__list-item:not(:last-child) {
  margin-right: 12px;
}

.courses__item-icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.courses__title-h4 {
  margin-bottom: 16px;
  font-family: $font-family-roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: $second-text-color;
  text-transform: uppercase;
}

.courses__paragraf {
  margin-bottom: 8px;
  font-family: $font-family-roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $black-color;
}

.courses__descr-list {
  margin-bottom: 16px;
  font-family: $font-family-roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: $black-color;
}

.courses__descr-list--modif {
  margin-bottom: 24px;
}

.courses__descr-item {
  display: flex;
}

.courses__descr-item:not(:last-child) {
  margin-bottom: 4px;
}

.courses__icon-clock {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.courses__price-block {
  margin-bottom: 40px;
  display: flex;
  font-family: $font-family-roboto;
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  color: $second-text-color;
  text-transform: uppercase;
}

.courses__price-line {
  margin-left: 16px;
  margin-right: 16px;
  border-right: 2px solid $main-bg-color;
}

.courses_btn {
  display: flex;
  align-items: center;
  width: 216px;
  height: 58px;
  padding: 14px 85.5px;
  font-family: $font-family-roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-transform: uppercase;
  color: $text-color;
  background-color: $main-bg-color;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
