.hero__container {
  display: flex;
  margin-bottom: 50px;
}

.hero__block {
  padding: 100px 80px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 885px;
  height: 519px;
  border-radius: 20px;
  background-color: $main-bg-color;
  color: $white-color;
}

.hero__title {
  margin-bottom: 16px;
  width: 729px;
  height: 178px;
  font-family: $font-family-poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  text-transform: uppercase;
}

.hero__text {
  margin-bottom: 40px;
  font-family: $font-family-roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.hero__link {
  padding: 14px 20px;
  background-color: $btn-bg-color;
  width: 185px;
  height: 58px;
  border-radius: 14px;
  font-family: $font-family-roboto;
  font-size: 20px;
  line-height: 30px;
  color: $second-text-color;
}
