.info {
  background-color: $main-bg-color;
}

.info__container {
  padding: 50px 0;
  display: flex;
}

.info__block {
  padding: 33px 24px 33px 0;
}

.info__title {
  margin-bottom: 4px;
  font-family: $font-family-poppins;
  font-size: 42px;
  font-weight: 500;
  line-height: 63px;
  color: $white-color;
  text-transform: uppercase;
}

.info__text {
  font-family: $font-family-roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: $white-color;
  width: 598px;
}

.info__form {
  width: 658px;
}

.info__form-input {
  padding: 18.5px 14px;
  margin-bottom: 24px;
  width: 658px;
  height: 64px;
  border-radius: 4px;
  outline: none;

  font-family: $font-family-roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: $second-text-color;
}

.info__form-input-email {
  margin-bottom: 40px;
}

.info__form-btn {
  width: 213px;
  height: 58px;
  padding: 14px 30px;
  font-family: $font-family-roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: $second-text-color;

  border-radius: 14px;
  background-color: $btn-bg-color;
  cursor: pointer;
}
