.slider__container {
  padding: 50px 0 47px 0;
}

.slider__title {
  margin-bottom: 20px;
  font-family: $font-family-poppins;
  font-size: 42px;
  font-weight: 500;
  line-height: 63px;
  text-transform: uppercase;
  color: $second-text-color;
}

.slider-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__list {
  margin-bottom: 50px;
  display: flex;
}

.slider__card {
  padding: 20px 78px 20px 20px;
  display: flex;
  width: 658px;
  height: 265px;
  border: 1px solid $main-bg-color;
  border-radius: 12px;
}

.slider__card:not(:last-child) {
  margin-right: 24px;
}

.slider__info {
  margin-left: 20px;
  overflow: hidden;
}

.slider__info-title {
  font-family: $font-family-poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.slider__info-text {
  font-family: $font-family-roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $slider-text-color;
}

.slider__info-text-modif {
  color: $icon-text-color;
}

.slider__list-star {
  display: flex;
  margin-bottom: 16px;
}

.slider__item-star-icon {
  height: 24px;
  width: 24px;
}

.slider__bnt-group {
  padding: 12px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 221px;
  border: 1px solid #bfccd8;
  border-radius: 100px;
}

.slider__bnt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #c2d1e0;
  cursor: pointer;
}

.slider__bnt-right {
  background-color: $main-bg-color;
}

.slider__bnt-icon {
  width: 5px;
  height: 10px;
}

.slider__bnt-icon-right {
  transform: rotate(180deg);
}

.slider-line-block {
  display: flex;
  margin: 0 30px;
}

.slider__line {
  height: 4px;
  width: 13px;
  border-radius: 20px;
  background-color: $slider-line-color;
}

.slider__line:not(:last-child) {
  margin-right: 2px;
}

.slider__line-active {
  width: 24px;
  background-color: $main-bg-color;
}
