$mobile-min: 320px;
$mobile: 390px;
$tablet: 768px;
$desktop: 1440px;

//font
$font-family-roboto: 'Roboto', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;

$main-bg-color: #003366;
$btn-bg-color: #fbfbfb;
$black-color: #343434;
$icon-bg-color: #eff3f7;

$text-color: #ffffff;
$white-color: #fbfbfb;
$second-text-color: #003366;
$icon-text-color: #343434;
$slider-text-color: #6b6b6b;
$slider-line-color: #c2d1e0;

$stroke-text-color: #000000;

// $phone-font-color: #1d0231;
// $hero-title-font-color: #f3fdff;
// $count-font-color: #00ac11;

// $animation: 950ms cubic-bezier(0.4, 0, 0.2, 1);
