<section class="container about__container">
  <div class="about__title-block">
    <h2 class="about__title">About us</h2>
    <a class="about__link" href="#">
      <svg class="about__icon">
        <use href="/images/sprite.svg#icon-arrow-top"></use>
      </svg>
      Learn more
    </a>
  </div>
  <div class="about__block">
    <img src="/images/about.png" alt="" />
    <div class="about__group">
      <div class="about__main">
        <h3 class="about__main-title">
          Hi, we’re Dickens Executive Coaching Academy
        </h3>
        <p class="about__main-text">
          Lorem ipsum dolor sit amet consectetur. Odio nec dictum tortor id
          proin rhoncus elit. Orci lacus pellentesque ultrices ut aliquet non
          fusce faucibus dictumst. Massa sit aliquam quam urna nam. Maecenas
          massa varius scelerisque pellentesque. Vestibulum ut rhoncus iaculis
          eleifend. Euismod cras et tortor at pellentesque duis cursus donec.
        </p>
      </div>
      <div class="about__group-modif">
        <div class="about__year">
          <p class="about__year-number">5+</p>
          <p class="about__year-text">years on the educational market</p>
        </div>
        <div class="about__graduates">
          <p class="about__graduates-number">1000+</p>
          <p class="about__graduates-text">successful graduates</p>
        </div>
      </div>
    </div>
  </div>
</section>
