<section class="container courses__container">
  <h2 class="courses__title">Our courses</h2>
  <ul>
    <li class="courses__card">
      <div class="courses__title-block">
        <div class="courses__title-block">
          <svg class="advantages__icon">
            <use href="./images/sprite.svg#icon-star"></use>
          </svg>
          <h3 class="courses__title-h3">
            Level 1 (ACC Track) Experiential Executive Coaching Program
          </h3>
        </div>
        <a class="about__link" href="#">
          <svg class="about__icon">
            <use href="./images/sprite.svg#icon-arrow-top"></use>
          </svg>
          Learn more
        </a>
      </div>
      <ul class="courses__list-icon">
        <li class="courses__list-item">
          <svg class="courses__item-icon">
            <use href="./images/sprite.svg#icon-clock"></use>
          </svg>
          60-hour
        </li>
        <li class="courses__list-item">
          <svg class="courses__item-icon">
            <use href="./images/sprite.svg#icon-pc"></use>
          </svg>
          Online
        </li>
        <li class="courses__list-item">
          <svg class="courses__item-icon">
            <use href="./images/sprite.svg#icon-english"></use>
          </svg>
          English
        </li>
      </ul>
      <h4 class="courses__title-h4">
        The Three Primary Coaching Program Models:
      </h4>
      <p class="courses__paragraf">
        Level 1 (ACC Track) Experiential Executive Coaching Program
      </p>
      <ul class="courses__descr-list">
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span>In-depth exploration of coaching foundations</span>
        </li>
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span> Mastery in effective communication strategies </span>
        </li>
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span> Proficiency in navigating ICF Core Competencies </span>
        </li>
      </ul>
      <p class="courses__paragraf">
        Level 1 (ACC Track) Experiential Executive Coaching Program
      </p>
      <ul class="courses__descr-list">
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span>
            Illustrates how coaching candidates acquire the necessary skills,
            tips, tools, and techniques for certification
          </span>
        </li>
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span
            >Progresses from data intake to knowledge acquisition,
            understanding, and ultimately wisdom</span
          >
        </li>
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span
            >Through practice and repetition, candidates achieve competence and
            transcendence in their coaching abilities</span
          >
        </li>
      </ul>
      <p class="courses__paragraf">3.The Coaching Engagement Model</p>
      <ul class="courses__descr-list courses__descr-list--modif">
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span> Provides a structured framework for coaching sessions </span>
        </li>
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span
            >Guides coaches and clients through phases of awareness, discovery,
            goal setting, approach determination, progress tracking, and success
            evaluation</span
          >
        </li>
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span
            >Serves as a roadmap for the engagement, fostering clarity and
            mutual expectations between coach and client</span
          >
        </li>
      </ul>
      <div class="courses__price-block">
        <p class="courses__price-text">Price</p>
        <span class="courses__price-line"></span>
        <p>$6 499</p>
      </div>
      <button class="courses_btn">Join</button>
    </li>
    <li class="courses__card">
      <div class="courses__title-block">
        <div class="courses__title-block">
          <svg class="advantages__icon">
            <use href="./images/sprite.svg#icon-star"></use>
          </svg>
          <h3 class="courses__title-h3">
            Level 2 (PCC Track) Experiential Executive Coaching Program
          </h3>
        </div>
        <a class="about__link" href="#">
          <svg class="about__icon">
            <use href="./images/sprite.svg#icon-arrow-top"></use>
          </svg>
          Learn more
        </a>
      </div>
      <ul class="courses__list-icon">
        <li class="courses__list-item">
          <svg class="courses__item-icon">
            <use href="./images/sprite.svg#icon-clock"></use>
          </svg>
          125-hours
        </li>
        <li class="courses__list-item">
          <svg class="courses__item-icon">
            <use href="./images/sprite.svg#icon-modules"></use>
          </svg>
          9 modules
        </li>
        <li class="courses__list-item">
          <svg class="courses__item-icon">
            <use href="./images/sprite.svg#icon-pc"></use>
          </svg>
          Online
        </li>
        <li class="courses__list-item">
          <svg class="courses__item-icon">
            <use href="./images/sprite.svg#icon-english"></use>
          </svg>
          English
        </li>
      </ul>
      <h4 class="courses__title-h4">
        The Three Primary Coaching Program Models:
      </h4>
      <p class="courses__paragraf">
        Level 1 (ACC Track) Experiential Executive Coaching Program
      </p>
      <ul class="courses__descr-list">
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span
            >The program offers three pathways to proficiency: coaching,
            receiving coaching, or observing coaching sessions</span
          >
        </li>
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span>
            Emphasizes three core areas: ICF Ethics, ICF Regulations, and ICF
            Core Competencies
          </span>
        </li>
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span>
            Candidates focus on enhancing skills in performance coaching,
            behavioral coaching, and perceptual coaching
          </span>
        </li>
      </ul>
      <p class="courses__paragraf">2.The Coach’s Learning Model</p>
      <ul class="courses__descr-list">
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span>
            Illustrates how coaching candidates acquire the necessary skills,
            tips, tools, and techniques for certification
          </span>
        </li>
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span
            >Progresses from data intake to knowledge acquisition,
            understanding, and ultimately wisdom</span
          >
        </li>
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span
            >Through practice and repetition, candidates achieve competence and
            transcendence in their coaching abilities</span
          >
        </li>
      </ul>
      <p class="courses__paragraf">3.The Coaching Engagement Model</p>
      <ul class="courses__descr-list courses__descr-list--modif">
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span> Provides a structured framework for coaching sessions </span>
        </li>
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span
            >Guides coaches and clients through phases of awareness, discovery,
            goal setting, approach determination, progress tracking, and success
            evaluation</span
          >
        </li>
        <li class="courses__descr-item">
          <svg class="courses__icon-clock">
            <use href="./images/sprite.svg#icon-clock-item"></use>
          </svg>
          <span
            >Serves as a roadmap for the engagement, fostering clarity and
            mutual expectations between coach and client</span
          >
        </li>
      </ul>
      <div class="courses__price-block">
        <p class="courses__price-text">Price</p>
        <span class="courses__price-line"></span>
        <p>$8 499</p>
      </div>
      <button class="courses_btn">Join</button>
    </li>
  </ul>
</section>
