<section class="container faq__container">
  <h2 class="faq__title">Faq</h2>
  <div class="faq__block">
    <ul class="faq__list">
      <li class="faq__item">
        <div class="faq__item-block">
          <p class="faq__text">
            Lorem ipsum dolor sit amet consectetur. Bibendum proin
          </p>
          <svg class="faq__icon">
            <use href="./images/sprite.svg#icon-minus"></use>
          </svg>
        </div>
        <div class="faq__item-block-text">
          <p>
            Lorem ipsum dolor sit amet consectetur. Ipsum lacus nulla in eget
            sit. Lacus iaculis sed mollis mi massa tortor scelerisque sed amet.
            Turpis et sit tincidunt eget. Dolor nisl fermentum cras erat nisl
            facilisis. Et.
          </p>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__item-block">
          <p class="faq__text">
            Lorem ipsum dolor sit amet consectetur. Bibendum proin
          </p>
          <svg class="faq__icon">
            <use href="./images/sprite.svg#icon-plus"></use>
          </svg>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__item-block">
          <p class="faq__text">
            Lorem ipsum dolor sit amet consectetur. Bibendum proin
          </p>
          <svg class="faq__icon">
            <use href="./images/sprite.svg#icon-plus"></use>
          </svg>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__item-block">
          <p class="faq__text">
            Lorem ipsum dolor sit amet consectetur. Bibendum proin
          </p>
          <svg class="faq__icon">
            <use href="./images/sprite.svg#icon-plus"></use>
          </svg>
        </div>
      </li>
    </ul>
    <form action="" class="faq__form">
      <h3 class="faq__form-title">Ask your question</h3>
      <span class="faq__form-line"></span>
      <label for=""
        ><input
          type="text"
          name="Name"
          placeholder="Name"
          class="faq__form-input"
      /></label>
      <label for=""
        ><input
          type="text"
          name="Email"
          placeholder="Email"
          class="faq__form-input"
      /></label>
      <label for="">
        <textarea
          name="feedback"
          rows="5"
          placeholder="Enter Your Question Here ....."
          class="faq__form-input faq__form-input-text"
        ></textarea>
      </label>
      <button type="submit" class="faq__form-btn">Send your message</button>
    </form>
  </div>
</section>
