<section class="container footer__container">
  <a href="#"><img src="/images/logo.png" alt="company logo" /></a>
  <p class="footer-copyright__text">
    <script>
      document.write(
        '' +
          ' ' +
          '&#169;' +
          new Date().getFullYear() +
          ' ' +
          'Dickens Consulting Group, LLC',
      );
    </script>
  </p>
  <ul class="footer__list">
    <li class="footer__item">
      <a href="#" class="footer__item-link footer__item-link-mod">Course</a>
    </li>
    <li class="footer__item">
      <a href="#" class="footer__item-link">About</a>
    </li>
    <li class="footer__item">
      <a href="#" class="footer__item-link">Contact</a>
    </li>
  </ul>
</section>
