<section class="info">
  <div class="container info__container">
    <div class="info__block">
      <h3 class="info__title">
        Companies, universities, directors and presidents
      </h3>
      <p class="info__text">
        If you'd like to learn more information about our work with large
        organizations, let's schedule a call.
      </p>
    </div>
    <form action="" class="info__form">
      <label
        ><input
          type="text"
          name="Name"
          placeholder="Name"
          class="info__form-input"
        />
      </label>
      <label>
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="info__form-input info__form-input-email"
        />
      </label>
      <button type="submit" class="info__form-btn">Schedule a call</button>
    </form>
  </div>
</section>
