<section class="container slider__container">
  <h2 class="slider__title">Testimonials</h2>
  <div class="slider-block">
    <ul class="slider__list">
      <li class="slider__card">
        <img src="/images/women.png" alt="" />
        <div class="slider__info">
          <h4 class="slider__info-title">Name</h4>
          <p class="slider__info-text">Role Here</p>
          <ul class="slider__list-star">
            <li>
              <svg class="slider__item-star-icon">
                <use href="./images/sprite.svg#icon-stars"></use>
              </svg>
            </li>
            <li>
              <svg class="slider__item-star-icon">
                <use href="./images/sprite.svg#icon-stars"></use>
              </svg>
            </li>
            <li>
              <svg class="slider__item-star-icon">
                <use href="./images/sprite.svg#icon-stars"></use>
              </svg>
            </li>
            <li>
              <svg class="slider__item-star-icon">
                <use href="./images/sprite.svg#icon-stars"></use>
              </svg>
            </li>
            <li>
              <svg class="slider__item-star-icon">
                <use href="./images/sprite.svg#icon-stars"></use>
              </svg>
            </li>
          </ul>
          <p class="slider__info-text slider__info-text-modif">
            Lorem ipsum dolor sit amet consectetur. Sed commodo lorem sit nec
            ut. Habitant mattis in vitae sagittis maecenas sed. Sed sit posuere
            sed sit rhoncus. Nunc leo eu volutpat laoreet est arcu odio vitae
            egestas. Porttitor urna.
          </p>
        </div>
      </li>
      <li class="slider__card">
        <img src="/images/men.png" alt="" />
        <div class="slider__info">
          <h4 class="slider__info-title">Name</h4>
          <p class="slider__info-text">Role Here</p>
          <ul class="slider__list-star">
            <li>
              <svg class="slider__item-star-icon">
                <use href="./images/sprite.svg#icon-stars"></use>
              </svg>
            </li>
            <li>
              <svg class="slider__item-star-icon">
                <use href="./images/sprite.svg#icon-stars"></use>
              </svg>
            </li>
            <li>
              <svg class="slider__item-star-icon">
                <use href="./images/sprite.svg#icon-stars"></use>
              </svg>
            </li>
            <li>
              <svg class="slider__item-star-icon">
                <use href="./images/sprite.svg#icon-stars"></use>
              </svg>
            </li>
            <li>
              <svg class="slider__item-star-icon">
                <use href="./images/sprite.svg#icon-stars"></use>
              </svg>
            </li>
          </ul>
          <p class="slider__info-text slider__info-text-modif">
            Lorem ipsum dolor sit amet consectetur. Sed commodo lorem sit nec
            ut. Habitant mattis in vitae sagittis maecenas sed. Sed sit posuere
            sed sit rhoncus. Nunc leo eu volutpat laoreet est arcu odio vitae
            egestas. Porttitor urna.
          </p>
        </div>
      </li>
    </ul>
    <div class="slider__bnt-group">
      <button class="slider__bnt">
        <svg class="slider__bnt-icon">
          <use href="./images/sprite.svg#icon-left"></use>
        </svg>
      </button>
      <ul class="slider-line-block">
        <li class="slider__line"></li>
        <li class="slider__line slider__line-active"></li>
        <li class="slider__line"></li>
        <li class="slider__line"></li>
      </ul>
      <button class="slider__bnt slider__bnt-right">
        <svg class="slider__bnt-icon slider__bnt-icon-right">
          <use href="./images/sprite.svg#icon-left"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
